@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  margin-right: -1.1rem;

  &__line {
    width: 1.5625rem;
    height: 0.1875rem;
    margin-bottom: 0.3125rem;
    position: relative;
    background: #FFF;
    border-radius: 3px;
    z-index: 1;

    &--active {
        background: #000;
        transition: 0.5s ease-in-out;

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(0.5rem) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-0.5rem) rotate(-45deg);
        }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: $secondary-colour-light-grey;
  width: 50%;
  padding: 5rem 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &--active {
    transform: translateX(0);
  }

  &__item {
    margin-bottom: 1.5rem;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 25px;
    margin-right: 1rem;

    &--bigger {
        width: 30px;
        margin-right: 0.6875rem;
    }
  }

  &__text {
    @include textStyle($primary-colour-blue, 1rem, 1.375rem, 600);
  }
}