@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard-page {
    background-color: $site-background-colour;
    height: 100vh;

    &__title {
        padding: 1.5rem;
        padding-bottom: 0;
        @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 700);
    }

    &__button-container {
        padding: 0rem 1.5rem;
    }
}