@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard-page {
  margin-bottom: 1.5rem;

  @include tablet {
    margin-bottom: 3rem;
  }
  
  &__title {
      padding: 1.5rem;
      padding-bottom: 0;
      @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 700);

      @include tablet {
        padding: 2rem;
        padding-bottom: 0;
        @include textStyle($primary-colour-white, 2rem, 2.5rem, 700);
      }

      @include desktop {
        padding-left: 5rem;
        padding-top: 3rem;
      }
  }

  &__insights-container {
    @include desktop {
      display: flex;
      justify-content: space-between;
      padding-right: 5rem;
      padding-left: 2rem;
    }
  }

  &--default {
    padding: 1.5rem;

    @include tablet {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        @include tablet {
            padding: 2rem;
            width: 25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__title {
        @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 700);
    }
  }
}

.dashboard-card-main-container {
  @include tablet {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  @include desktop {
    width: 100%;
  }
}

.dashboard-card-container {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.dashboard-card {
  background: $primary-colour-purple;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
  transition: transform 0.5s ease;

  @include tablet {
    margin-bottom: 2rem;
    width: 40%;
    height: 20vh;
  }

  @include desktop {
    margin-bottom: 2rem;
    width: 50%;
    height: 20vh;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  }

  &__heading-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include textStyle($primary-colour-white, 1.25rem, 1.75rem, 600);
    margin-top: 0.25rem;

    @include tablet {
      width: 50%;
    }
  }

  &__description {
    width: 100%;
    @include textStyle($primary-colour-white, 1.25rem, 1.75rem, 400);
    margin-top: 0.75rem;

    &--positive {
        color: $secondary-colour-green;
    }

    &--negative {
        color: red;
    }
  }
    
  &__icon {
    width: 35px;

    &--smaller {
        width: 30px;
        opacity: 0.8;
    }
  }
}

.allocation-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.allocation-chart {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    background-color: $secondary-colour-dark-grey;
    border-radius: 20px;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
      height: 82.5%;
    }
}