@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    padding: 3rem 1.5rem;

    @include tablet {
        padding: 3rem 2rem;
        display: flex;
    }

    @include desktop {
        padding: 5rem;
        display: flex;
    }

    &__left-container {
        @include tablet {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }


    &__text-container {
        text-align: center;

        @include tablet {
            text-align: left;
        }

        @include desktop {
            padding: 0 7.5rem;
            text-align: center;
        }
    }

    &__main-text {
        @include textStyle($primary-colour-white, 1.5rem, 2rem, 600);
        margin-bottom: 1.5rem;

        @include tablet {
            @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 600);
        }

        &--special {
            @include textStyle($primary-colour-purple, 1.75rem, 2.25rem, 700);

            @include tablet {
                @include textStyle($primary-colour-purple, 2rem, 2.5rem, 700);
            }
        }
    }

    &__sub-text {
        @include textStyle ($primary-colour-white, 1.25rem, 1.75rem, 500);
        text-align: center;
        margin-top: 1.5rem;

        @include tablet {
            text-align: left;
            @include textStyle($primary-colour-white, 1.5rem, 2rem, 500);
        }

        @include desktop {
            padding: 0 7.5rem;
            text-align: center;
        }

        &--special {
            @include textStyle($secondary-colour-champagne-pink,  1.5rem, 2rem, 600);

            @include tablet {
                @include textStyle($secondary-colour-champagne-pink,  1.75rem, 2.25rem, 600);
            }
        }
    }

    &__sub-text--tablet {
        display: none;
    }

    &__sub-image-container {
        display: flex;
        justify-content: center;
    }

    &__sub-image {
        border-radius: 50%;
        width: 100px;

        @include tablet {
            width: 150px;
        }
    }

    &__main-image-container {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        @include tablet {
            width: 50%;
            margin-top: 0;
            margin-left: 2rem;
        }

        @include desktop {
            display: none;
        }

        &--desktop {
            display: none;

            @include desktop {
                width: 50%;
                display: flex;
                justify-content: center;
                margin-left: 2rem; 
            }
        }
    }

    &__main-image {
        width: 100%;
        max-width: 35rem;
        border-radius: 20px;

        @include tablet {
            max-width: 25rem;
            max-height: 31.5rem; 
        }

        &--desktop {
            @include desktop {
                width: 100%;
                border-radius: 20px;
                max-height: 40rem;  
            }
        }
    }
}