@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user-holdings-table {
    width: 100%;
    
    &__body-column {
        @include textStyle($primary-colour-white, 0.9375rem, 1.625rem, 400);
        text-align: center;
        margin-right: 1.5rem;
        padding: 0.5rem 1rem;
        padding-left: 0;
        width: 30%;

        @include tablet {
            @include textStyle($primary-colour-white, 1rem, 1.75rem, 400);
        }
    }

    &__body-column-coin {
        display: flex;
        flex-direction: column;

        &__name {
            @include textStyle($primary-colour-white, 1rem, 1.625rem, 600);
            text-align: left;

            @include tablet {
                @include textStyle($primary-colour-white, 1.0625rem, 1.625rem, 600);
            }
        }

        &__symbol {
            @include textStyle($primary-colour-white, 0.8125rem, 1.25rem, 500);
            text-align: left;

            @include tablet {
                @include textStyle($primary-colour-white, 0.875rem, 1.25rem, 500);   
            }
        }
    }

    &__body-column-actions {
        display: flex;
        justify-content: space-evenly;

        &__edit {
            width: 25px;
        }

        &__delete {
            width: 25px;
        }
    }
}