@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.delete-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 100vw;
    height: 35%;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__content {
        margin: auto;
        height: 100vh;
        padding: 1.5rem 1rem;
        background-color: $secondary-colour-dark-grey;
        position: relative;

        @include tablet {
            width: 100%;
            height: 20rem;
            padding: 2.5rem 4rem;
            margin-top: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include desktop {
            width: 80%;
            height: 25rem;
        }
    }

    &__header {
        margin: 2.25rem 0 1rem 0;

        @include tablet {
            margin-top: 0;
        }

        &-title {
            @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 600);

            @include tablet {
                @include textStyle($primary-colour-white, 2rem, 2.5rem, 600);
            }
        }
    }

    &__body {
        &-p {
            @include textStyle($primary-colour-white, 0.9375rem, 1.625rem, 400);

            @include tablet {
                @include textStyle($primary-colour-white, 1.125rem, 1.75rem, 400);
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 5rem;
        bottom: 0;
        padding-bottom: 1.5rem;

        @include tablet {
            position: static;
            padding-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__cancel {
        @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 600);
        height: 2.25rem;
        width: 47.52%;
        border: 1px solid $secondary-colour-light-grey;
        border-radius: 1.25rem;
        background-color: $primary-colour-white;
        cursor: pointer;
        padding: 0 1rem;

        @include tablet {
            height: 2.375rem;
            width: 8rem;
            margin-right: 1rem;
        }

        @include desktop {
            width: 12rem;
        }
    }

    &__delete {
        @include textStyle($primary-colour-white, 0.8125rem, 1.25rem, 600);
        height: 2.25rem;
        width: 47.52%;
        border-radius: 1.25rem;
        background-color: $secondary-colour-red;
        border: none;
        cursor: pointer;
        padding: 0 1rem;

        @include tablet {
            height: 2.375rem;
            width: 12rem;
        }

        @include desktop {
            width: 16rem;
        }
    }

    &__close {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
    }
}