//breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//colour variables
$site-background-colour: #121212;
$primary-colour-white: #FFFFFF;
$primary-colour-blue: #3B60E4;
$primary-colour-purple: #7765E3;
$secondary-colour-champagne-pink: #EDD3C4;
$secondary-colour-light-purple: #C8ADC0;
$secondary-colour-teal: #1F7A8C;
$secondary-colour-pink: #ff00ff;
$secondary-colour-cyan: #00ffff;
$secondary-colour-dark-grey: #222;
$secondary-colour-medium-grey: #333;
$secondary-colour-light-grey: #aaa;
$secondary-colour-red: #C94515;