@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
    padding-bottom: 1.5rem;

    &__feature-cards-container {
        @include tablet {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
