@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-button {
    @include textStyle($primary-colour-white, 1rem, 1.25rem, 600);
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    width: 100%;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, $primary-colour-purple, $primary-colour-blue);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.5s ease-out;

    @include tablet {
        @include textStyle ($primary-colour-white, 1.25rem, 1.75rem, 600);
    }

    &:hover {
        background-position: right bottom;
        cursor: pointer;
        transform: scale(1.025);
    }
}