@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.user-holdings-table-container {
    padding: 1.5rem 0rem;
    background-color: $site-background-colour;
}

.user-holdings-table {
    &__header-column {
        @include textStyle($primary-colour-white, 1.125rem, 1.75rem, 700);
        text-align: center;
        margin-right: 1.5rem;
        padding: 0.5rem 1rem;
        padding-left: 0;
        white-space: nowrap;

        &--left {
            text-align: left;
        }
    }
}