@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user-holdings-section {
    &__search {
        display: flex;
        position: relative;
    }

    &__icon {
        width: 25px;
        position: absolute;
        top: 2.4rem;
        left: 0.75rem;
    }

    &__input {
        width: 100%;
        margin-top: 2rem;
        height: 36px;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: 2px solid $primary-colour-blue;
        @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 400);
        text-align: center;

        @include tablet {
            height: 38px;
        }

        &::placeholder {
            @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 400);
        }

        &:focus {
            border: none;
            outline: 2px solid $primary-colour-blue;
        }
    }
}


.user-holdings-table-container {
    padding: 1.5rem 0rem;
}

.user-holdings-table {
    width: 100%;
    &__header-column {
        @include textStyle($primary-colour-white, 1.125rem, 1.75rem, 700);
        text-align: center;
        margin-right: 1.5rem;
        padding: 0.5rem 1rem;
        padding-left: 0;
        white-space: nowrap;

        &--left {
            text-align: left;
        }

        &--last {
            margin-right: 0;
            padding-right: 0;
            text-align: left;
        }
    }
}