@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-bottom: 0;
    background-color: $site-background-colour;

    &__logo {
        width: 175px;
        height: 60px;
        object-fit: cover;
        margin-left: -0.5rem;
    }
}