@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    background-color: $site-background-colour;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1.5rem;

    &__text {
        @include textStyle($primary-colour-white, 0.6875rem, 1rem, 400);
        text-align: center;
        padding-bottom: 1.5rem;
    }
}