@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 100vw;
    height: 35%;

    @include tablet {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
    }

    &__content {
        text-align: center;
        height: 100vh;
        padding: 1.5rem 1rem;
        background-color: $secondary-colour-dark-grey;
        position: relative;

        @include tablet {
            width: 100%;
            height: 60vh;
            max-width: 50rem;
            padding: 2.5rem 4rem;
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__header {
        margin: 2.25rem 0 0 0;

        @include tablet {
            margin-top: 0;
        }

        &-title {
            @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 600);

            @include tablet {
                @include textStyle($primary-colour-white, 2rem, 2.5rem, 600);
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 4.5rem;
        bottom: 0;
        padding-bottom: 1.5rem;

        @include tablet {
            position: static;
            padding-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__cancel {
        @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 600);
        height: 2.25rem;
        width: 47.52%;
        border: 1px solid $secondary-colour-light-grey;
        border-radius: 1.25rem;
        background-color: $primary-colour-white;
        cursor: pointer;
        padding: 0 1rem;

        @include tablet {
            height: 2.375rem;
            width: 25%;
            margin-right: 1.5rem;
        }
    }

    &__add {
        @include textStyle($primary-colour-white, 0.8125rem, 1.25rem, 600);
        height: 2.25rem;
        width: 47.52%;
        border-radius: 1.25rem;
        background-color: $primary-colour-blue;
        border: none;
        cursor: pointer;
        padding: 0 1rem;

        @include tablet {
            height: 2.375rem;
            width: 35%;
        }
    }

    &__close {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            margin-top: 1.75rem;
            align-items: center;
        }
    }

    &__label {
        @include textStyle($primary-colour-white, 1.75rem, 2.25rem, 600);
        margin-top: 2rem;
        margin-bottom: 0.25rem;

        @include tablet {
            @include textStyle($primary-colour-white, 2rem, 2.5rem, 600);
        }
    }

    &__input {
        height: 36px;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: 2px solid $primary-colour-blue;
        @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 400);

        @include tablet {
            height: 38px;
            max-width: 25rem;
        }

        &::placeholder {
            @include textStyle($secondary-colour-medium-grey, 0.8125rem, 1.25rem, 400);

            @include tablet {
                @include textStyle($secondary-colour-medium-grey, 0.9375rem, 1.25rem, 400);
            }
        }

        &:focus {
            border: none;
            outline: 2px solid $primary-colour-blue;
        }
    }

    &__dropdown-item {
        @include textStyle($secondary-colour-dark-grey, 0.8125rem, 1.25rem, 400);

        @include tablet {
            @include textStyle($secondary-colour-dark-grey, 1rem, 1.25rem, 400);
        }
    }

    &__error {
        display: none;

        &--show {
            display: flex;
        }
        
        &-message {
            @include textStyle($secondary-colour-red, 0.8125rem, 1.25rem, 400);
            margin-left: 0.25rem;
            padding-top: 0.25rem;

            @include tablet {
                @include textStyle($secondary-colour-red, 1rem, 1.75rem, 400);
            }
        }
    }
}