@use "./styles/partials/global" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.app {
    background-color: $site-background-colour;
    min-height: 100vh;
    position: relative;
    padding-bottom: 1.5rem;
    max-width: 100vw;
    overflow: hidden;
}